<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        <h1> e </h1>
        <h2> p </h2>
        <h3> a </h3>

        <p> epa </p> <br>
        <p> p </p>

        <a href="nekopoi.care"> web kuching </a>
        
        <div>
            <ul> 
                <li> bro </li>
                <li> broo </li>
            </ul>
         </div>

         <input type="email" />
         <input type="password" />
         <input type="text" />
         <br>
         pip
    </body>

</html>